body {
  padding: 45px;
  font: 20px "Times New Roman", Helvetica, Arial, sans-serif;
}

a {
  color: #fffefe;
}
.photo
{ 
  background-image: url('/images/iit.jpg');
  background-size: 200px;
  height: 100px;
  width: 200px;
}
.photo1
{
  background-image: url('/images/nit.jpg');
  background-size: 200px;
  height: 150px;
  width: 200px;
}
.photo2
{
  background-image: url('/images/iiit1.webp');
  background-size: 200px;
  height: 150px;
  width: 200px;
}
