extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | We created to help students find best colleges to get placed in their dream companies and best colleges.
        | <br /><br />
        | This is an extensive search engine for the students, parents, and education industry players who are seeking information on higher education sector in Telangana . One can rely for getting most brief and relevant data on colleges and universities.
        | <br /><br />
        | Our vision is to fulfill a vision of empowering students with knowledge so that they make a wiser decision while choosing their career and alma mater.