extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Colleges List 
          small &nbsp; Get placed in top companies!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') IIT Hyderabad
            
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default # 1
          p.address Hyderabad, Telangana 
          p
            span.label.label-warning Microsoft
            | &nbsp;
            span.label.label-warning Flipkart
            | &nbsp;
            span.label.label-warning Adobe 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location1')  NIT Warangal 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default #2
          p.address Warangal , Telangana 
          p
            span.label.label-warning Amazon 
            | &nbsp;
            span.label.label-warning Flipkart 
            | &nbsp;
            span.label.label-warning Infosys 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') IIIT Hyderabad 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default #3
          p.address Hyderabad, Telangana 
          p
            span.label.label-warning Goldman Sachs
            | &nbsp;
            span.label.label-warning Flipkart 
            | &nbsp;
            span.label.label-warning Google 
            | &nbsp;
        .col-xs-12.list-group-item
          
      p.lead
        | Looking for good college and placements? We help you to find best college to join and get placed in your dream companies. Let us help you find the college you're looking for.